.controller {
    display: grid;
    grid-template-columns: repeat(3, 6.25rem);
    grid-template-rows: repeat(3, 6.25rem);
    gap: 1rem; /* adjust the gap size as needed */
    justify-content: center;
    align-items: center;
}

.controller button {
    justify-self: center;
    align-self: center;
}
.controller button {
    width: 60px;
    height: 60px;
    margin: 5px;
}
#speedIndicator, #directionIndicator {
    font-size: 20px;
    margin: 10px;
}