/* We reset the styling of the page first */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff;
    color: #6a6a6a;
}

table {
    width: 100%; /* Makes each table use the full width of its container */
    border-collapse: collapse; /* Ensures that borders between cells are merged */
    margin-bottom: 20px; /* Adds space between tables */
}
th, td {
    border: 1px solid #ddd; /* Adds a light grey border around each cell */
    padding: 8px; /* Adds space inside each cell */
    text-align: left; /* Aligns text to the left */
}
th {
    background-color: #f2f2f2; /* Light grey background for header cells */
    color: #333; /* Dark grey text color for better readability */
}
h2 {
    margin-top: 0; /* Removes the top margin from all h2 elements for tighter spacing */
}
tr:nth-child(even) {
    background-color: #f9f9f9; /* Zebra stripes for rows */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a6a6a;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#logo {
    max-height: 3.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.25rem;
}
.button-container-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 30px;
    gap: 20px;
}
#map-panel h2{
    color: black;
}

#harita-container{
    display: grid;
}
#harita-one, #harita-two, #harita-three{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    width: 50%;
}


button {
    background-color: #414141; /* Button colour */
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    color: #fff; /* White text color */
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #2C8FFFFF; /* Change in button colour on hover */ /* 2C8FFFFF or 6a6a6a*/
}
#stop{
    transition: background-color 0s ease;
}
#stop:hover{
    background-color: red;
}

 #status {
     padding: 10px;
     color: black;
 }
.connecting {
    background-color: yellow;
    color: black;
}
.connected {
    background-color: green;
}
.closed {
    background-color: red;
}
.error {
    background-color: orange;
}
main {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Adjust the fr units based on how much space you want each section to take */
}
#sideA{
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    justify-content: flex-start; /* Aligns children to the top */
    height: 100%; /* Makes side A take full height of the viewport */
    padding: 10px;
    background-color: #e7e5e5;
    width: fit-content;
}
ol {
    list-style-type: none; /* This removes the numbers */
    padding: 0;            /* Removes padding, especially on the left */
    margin: 0;             /* Removes default margin */
}

li {
    margin-bottom: 10px; /* Adjust this value to increase or decrease the gap */
}

#status{
    height: fit-content;
}
#logs{
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    justify-content: flex-start; /* Aligns children to the top */
    height: 100vh; /* Makes side A take full height of the viewport */
    padding: 10px;
    background-color: #e7e5e5;
    min-width: 15rem;

}
#btnHarita, #btnGorevPaneli, #btnKontrolPaneli, #btnDurumPaneli, #btnServislerAksiyonlar{
    width:5rem; /* Example minimum width, adjust as needed */
    box-sizing: border-box;
}
#control-panel{
    margin: 10px;
}
#durum-panel, #service-action-panel, #map-panel{
    margin: 30px;
}

#middle-container{
    height: 50%;
}

#control-panel {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Center horizontally inside the panel */
    align-items: center; /* Center vertically inside the panel */
    height: 50%; /* Takes full height of its parent */
    font-size: 1.5rem;
}

#speedandangle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#harita{
    align-content: center;
}

.controller {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; /* Space between buttons */
    align-items: center;
    align-content: center;
    justify-content: center;
}
.controller button{
    width: 100px;
}
.emergency-stop {
    background-color: red;
    color: white;
}


.arrow-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Increased width */
    height: 100px; /* Increased height */
    cursor: pointer;
    user-select: none;
    color: black;
    font-size: 3rem;
}

.arrow-5:hover {
    color: blue;

}

#speedIndicator, #directionIndicator {
    font-size: 20px;
    margin: 10px;
}

#mission-panel {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 0.2rem;
}

#mission-panel h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}
#durum-panel h2{
    color: black;
}
#durum-panel th{
    color: #414040;
}

/* Styles for the QR Code Section */
#qr_code {
    padding: 0.625rem;
    background-color: #fff;
    border: 0.0625rem solid #ddd;
    border-radius: 0.2rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the Input Fields and Labels */
#mission-panel label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

#mission-panel input[type="text"],
#mission-panel input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure padding doesn't affect the total width */
}
.gauge-container {
    margin: 20px;
}
.gauge {
    width: 100%;
    height: auto;
}